.container-perfil {
  display: flex;
  justify-content: center;
  .perfil {
    width: 30em;
    .info-perfil {
      color: #fff;
      display: flex;
      flex-direction: column;
      background-color: #181c24;
      border: 1px solid rgb(45, 45, 45);
      font-family: monospace;
      padding: 1em;
      border-radius: 5px;
      margin: 1em 0;
      .image-perfil {
        text-align: center;
        img {
          width: 15em;
          border-radius: 50%;
          border: 2px solid #817f7f;
        }
      }
      .button-update {
        background-color: #238636;
        padding: 6px 16px;
        margin: 16px 25px 8px;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
      }
      .rol {
        display: flex;
        flex-direction: column;
        margin: -1.5em 1em;
        padding: 1em;

        label {
          font-size: 14px;
        }
        @media (max-width: 505px) {
          margin: -1.5em 0;
        }
      }
    }
    .col-one-perfil,
    .col-two-perfil {
      display: flex;
      flex-direction: column;
      margin: 1em;

      label {
        font-size: 14px;
      }
    }
  }
}

.container-cols-perfil {
  display: flex;
  justify-content: center;
  @media (max-width: 505px) {
    flex-direction: column;
  }
}
