.container-create-rifa {
  display: flex;
  justify-content: center;

  .create-rifa {
    width: 30em;
    .title-create-rifa {
      text-align: center;
      color: #fff;
      font-family: monospace;
      margin: 2em 0 1em;
      h2 {
        margin: 1em 0;
      }
    }
    .form-create-rifa {
      color: #fff;
      display: flex;
      flex-direction: column;
      background-color: #181c24;
      border: 1px solid rgb(45, 45, 45);
      font-family: monospace;
      padding: 1em;
      border-radius: 5px;
      .button-create-rifa {
        background-color: #238636;
        padding: 6px 16px;
        margin: 16px 0;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}



.container-cols-create-rifa {
  display: flex;
  flex-direction: column;
}
