
.recarga {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #817f7f;
  h2{
    color: #7D8590;
    font-family: cursive;
  }
  form {
    margin-bottom: 10px;
    input {
      color: #fff;
      background-color: #0d1117;
      border: 1px solid #464646;
      border-radius: 5px;
      outline: none;
      padding: 5px 12px;
      margin: 0 10px;

      &:focus {
        border: 1px solid #2f81f7;
      }
    }
    button {
      background-color: #238636;
      padding: 5px 16px;
      border: none;
      border-radius: 5px;
      color: #fff;
    }
  }
}

.container-rifas {
  display: flex;
  flex-direction: column;

  .card-rifa {
    border-bottom: 1px solid #817f7f;
    text-decoration: none;
    margin: 5px 0;
    .rifa {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info-list {
        display: flex;
        align-items: center;
        .title-rifa {
          color: #2f81f7;
          font-family: monospace;
        }
        .creador {
          border: 1px solid #817f7f;
          border-radius: 12px;
          color: #817f7f;
          margin: 0px 0px 20px 8px;
          padding: 5px;
          font-weight: 600;
          font-size: 12px;
        }
      }
      .boleta {
        display: flex;
        align-items: center;
        margin: 0em 0em;
        color: #fff;
        background-color: #21262d;
        border: 1px solid #817f7f;
        border-radius: 5px;
        padding: 5px 15px;

        .costo-boleta {
          margin: 0px 0px 0px 10px;
        }
      }
    }

    .date-rifa {
      color: #817f7f;
      margin: 0 0px;
      position: relative;
      margin-bottom: 1em;
    }
  }
}
