.container-info-user {
  width: 20em;
  font-family: sans-serif;
  .container-user {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    img {
      border-radius: 50%;
      border: 2px solid #817f7f;
      margin-bottom: 15px;
    }
    .info-user {
      color: #e6edf3;
      margin-bottom: 1.5em;
      .name-user {
        font-weight: bold;
        font-size: 24px;
        line-height: 1.5;
      }
      .email-user,
      .document-user,
      .tel-user {
        color: #7D8590;
        font-size: 17px;
        font-style: normal;
      }

      .document-user,
      .tel-user {
        margin-top: 8px;
      }
    }
    .button-user {
      width: 97%;
      border: 1px solid #484f58;
      border-radius: 5px;
      background-color: #21262d;
      text-align: center;
      padding: 5px;
      color: #c9d1d9;
      text-decoration: none;
      margin-bottom: 1em;
    }
    .boletas {
      color: #7d8590;
      font-weight: 100;
      .boletas-compradas {
        color: #fff;
      }
    }
  }
}
