.container-nav {
  background-color: #08040c;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .user-info-nav {
    display: flex;
    justify-content: space-between;

    .options-nav {
      display: flex;
      align-items: center;
      color: #fff;
      margin-bottom: 10px;
      .logo-nav {
        font-size: 30px;
      }
      .user-nav {
        margin: 0 12px;
        font-size: 20px;
      }
    }
    .auth-nav {
      display: flex;
      align-items: center;
      .sing-in {
      }
      .sing-out,
      .sing-up {
        background: transparent;
        padding: 5px;
        border: 1px solid #fff;
        border-radius: 6px;
      }
    }
  }
}

.logout-nav {
  cursor: pointer;
}

.item-nav {
  color: #fff;
  font-family: cursive;
  text-decoration: none;
  margin: 8px;
}
