.apostar-por,
.equipo-ganador {
  display: flex;
  flex-direction: column;
  padding: 1em 10em;

  button {
    background-color: #238636;
    padding: 5px 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
}
