body{
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  /* background-color: #0d1117; */
}

p,h2{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
}
